// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.task-details{
    border:1px solid black;
    padding: 10px;
    background-color: lightyellow;
    margin:5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#task-details-body{
    background-color: lightgray;
}